
.input-field {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .result {
    font-weight: bold;
    color: #333;
  }

  body {
    background-color: whitesmoke;
    font-size: 125%;
    text-align: center;
  }
  